//font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
html{
	box-sizing: border-box;
}

*,
*::before,
*::after{
	box-sizing: inherit;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	background: rgb(22, 22, 22);
	color: #fff;
	min-width: 320px;
	overflow-x: hidden;
}

a{
	display: inline-block;
	text-decoration: none;
}

button{
	border:none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

ul,
li,
menu{
	list-style: none;
	margin: 0;
	padding: 0;
}

.container{
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-family: Roboto Condensed;
	font-style: italic;
	font-weight: 300;
	font-size: 80px;
	line-height: 84px;
	opacity: .7;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 50px;
}