@import "vars";
@import "libs";
@import "fonts";
@import "global";

//HEADER

.header{
    background: url('../images/header-bg.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    &-top__menu{
        a{
            font-family: Roboto Condensed;
            font-style: italic;
            font-weight: 300;
            font-size: 80px;
            line-height: 84px;
            color: #fff;
            opacity: .7;
            margin-left: 30px;
            margin-bottom: 40px;
            cursor: pointer;
            transition: all .5s;
        }
        a:hover{
            opacity: 1;
        }
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 400px;
    }
    &__text{
        font-family: Roboto Condensed;
        font-style: italic;
        font-weight: 300;
        font-size: 120px;
        line-height: 84px;
        opacity: .7;
        height: 100px;
        text-align: right;
        margin-right: 30px;
        padding-top: 100px;
    }
}

//ABOUT

.about{
    &__list{
        font-family: Roboto Condensed;
        font-style: italic;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        opacity: .7;
        text-align: center;
        li{
            margin-bottom: 5px;
            span{
                margin-left: 7px;
                font-size: 20px;
            }
        }
    }
    margin-bottom: 70px;
}

//WORKS

.works{
    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    &__item{
        img{
            width: 500px;
            height: 350px;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
            transition: all .5s;
            border-radius: 40px;
        }
        img:hover{
            transform: scale(1.1)
        }
        margin: 15px;
    }
    margin-bottom: 70px;
}

//CONTACTS

.contacts{
    &__items{
        display: flex;
        justify-content: center;
        img{
            width: 150px;
            height: 150px;
        }
        li:not(:last-child){
            margin-right: 60px;
        }
    }
    margin-bottom: 70px;
}

@import "media";